$color-btn-border: rgb(111, 111, 247);

.social-btn {
  background: $font-color-secondary;
  color: white;
  line-height: 42px;
  padding: 0;
  border: none;
  position: relative;

  &:hover {
    background: $font-color-secondary;
    color: white;
    // box-shadow: -5px -5px 10px 0px rgba(3, 3, 3, 0.295),
    //   -4px -4px 5px 0px rgba(0, 0, 0, 0.295),
    //   5px 5px 10px 0px $color-primary-light,
    //   4px 4px 5px 0px $color-primary-light;
    &:before {
      width: 100%;
      transition: 800ms ease all;
    }
    &:after {
      width: 100%;
      transition: 800ms ease all;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background: $color-btn-border;
    transition: 400ms ease all;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background: $color-btn-border;
    transition: 400ms ease all;
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

// .social-btn,
// .social-btn::after {
//   @extend %btn;
// }

// body.load .social-btn {
// }

// .social-btn {
//   @extend %btn;
//   &::after {
//     @extend %btn;
//     display: block;
//     background: linear-gradient(
//       45deg,
//       transparent 3%,
//       $color-tertiary 3%,
//       $color-tertiary 5%,
//       $font-color-secondary 5%
//     );
//     text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px $color-tertiary;
//   }
//   &:hover {
//     cursor: pointer;
//     // &::after {
//     //   animation: 1s glitch;
//     //   animation-timing-function: steps(2, end);
//     // }
//   }
// }

// .social-btn {
//   font-weight: 200;
//   letter-spacing: 1px;
//   outline: 0;
//   border: 1px solid black;
//   cursor: pointer;
//   position: relative;
//   background-color: rgba(0, 0, 0, 0);
//   z-index: 2;
//   &::after {
//     content: "";
//     background-color: #ffe54c;
//     width: 100%;
//     z-index: 1;
//     position: absolute;
//     height: 100%;
//     top: 3px;
//     left: 5px;
//     transition: 0.2s;
//   }
//   &:hover {
//     &::after {
//       top: 0px;
//       left: 0px;
//     }
//   }
// }
