$color-primary-light: #c4e2aa;
$color-primary: #7dc044;
$color-primary-dark: #2b4317;

$color-secondary-light: #c09dde;
$color-secondary: #8744c0;
$color-secondary-dark: #381b50;

$color-tertiary-light: #d7da90;
$color-tertiary: #bbc044;
$color-tertiary-dark: #5a5d1f;

$color-background: white;

$font-primary: "Oswald", sans-serif;
$font-header: "Zen Kurenaido", sans-serif;
$font-color-primary: black;
$font-color-secondary: #c04944;

$icon-color-primary: $color-tertiary;
$icon-color-secondary: #44c087;
